/*Iconos Principal*/
/*.x-layout-collapsed-west {
        background-image:url(../images/navigation.gif);
        background-repeat:no-repeat;
        background-position:center;
}*/

panel_add{

	background:#f3f3f3;

}
panel_add_bold{

    font-size:8.5pt; 
    color:#484848;
    font-weight: bold;,

}

.upload-icon {
  background-image:url(../images/image_add.png) !important;
  background-repeat:no-repeat;
}

.add_user {
  background-image:url(../images/user_add.png) !important;
  background-repeat:no-repeat;
}

.del_user {
  background-image:url(../images/user_delete.png) !important;
  background-repeat:no-repeat;
}

.user_on {
  background-image:url(../images/user_green.png) !important;
  background-repeat:no-repeat;
}

.user_off {
  background-image:url(../images/user_red.png) !important;
  background-repeat:no-repeat;
}

.user_all {
  background-image:url(../images/user_all.png) !important;
  background-repeat:no-repeat;
}

.user_empleado {
  background-image:url(../images/user_suit.png) !important;
  background-repeat:no-repeat;
}

.user_desempleado {
  background-image:url(../images/user_gray.png) !important;
  background-repeat:no-repeat;
}

.user_monitor{
  background-image:url(../images/user_monitor.png) !important;
  background-repeat:no-repeat;
}


.user_egresado {
  background-image:url(../images/user_gray.png) !important;
  background-repeat:no-repeat;
}


.user_empresa {
  background-image:url(../images/user_suit.png) !important;
  background-repeat:no-repeat;
}

.usuario {
  background-image:url(../images/usu_hab.png) !important;
  background-repeat:no-repeat;
}





.buscar {
  background-image:url(../images/buscar.png) !important;
  background-repeat:no-repeat;
}

.salvar {
  background-image:url(../images/disk.png) !important;
  background-repeat:no-repeat;
}

.limpiar {
  background-image:url(../images/erase.png) !important;
  background-repeat:no-repeat;
}

.home {
  background-image:url(../images/home.ico) !important;
  background-repeat:no-repeat;
}

.cancelar {
  background-image:url(../images/cancel.png) !important;
  background-repeat:no-repeat;
}

.registrar {
  background-image:url(../images/feed_add.png) !important;
  background-repeat:no-repeat;
}

.apisLogo {
  background-image:url(../images/logo.gif);
  background-repeat:no-repeat;
}
.UVlogo {
  background-image:url(../images/UVlogo.gif);
  background-repeat:no-repeat;
}
.simbolo {
  background-image:url(../images/principal.png) !important;
  background-repeat:no-repeat;
}

.salir {
  background-image:url(../images/salir.png) !important;
  background-repeat:no-repeat;
}

.ayuda {
  background-image:url(../images/help.png) !important;
  background-repeat:no-repeat;
}

.medalla {
  background-image:url(../images/award_star_gold.png) !important;
  background-repeat:no-repeat;
}

.carpeta {
  background-image:url(../images/folder.png) !important;
  background-repeat:no-repeat;
}

.menu {
  background-image:url(../images/sitemap_color.png) !important;
  background-repeat:no-repeat;
}


.cursos {
  background-image:url(../images/overlays.png) !important;
  background-repeat:no-repeat;
}

.aplicacion {
  background-image:url(../images/application.png) !important;
  background-repeat:no-repeat;
}


.Subredes {
  background-image:url(../images/Subredes.png) !important;
  background-repeat:no-repeat;
}
.Servidores {
  background-image:url(../images/Servidor.png) !important;
  background-repeat:no-repeat;
}
.Equipos {
  background-image:url(../images/Equipos.png) !important;
  background-repeat:no-repeat;
}
/*Opciones Basicas*/
.quitar {
  background-image:url(../images/borrar.gif) !important;
  background-repeat:no-repeat;
}
.anadir {
  background-image:url(../images/agregar.gif) !important;
  background-repeat:no-repeat;
}
.icono {
  background-image:url(../images/folder_go.png) !important;
  background-repeat:no-repeat;
}
.iconoSec {
  background-image:url(../images/forward.gif) !important;
  background-repeat:no-repeat;
}
.guardar {
  background-image:url(../images/guardar.png) !important;
  background-repeat:no-repeat;
}

.grafica {
  background-image:url(../images/grafico.png) !important;
  background-repeat:no-repeat;
}
/*Fin Opciones Basicas*/

/*Iconos por cada uno de los modulos */
.Indicador {
  background-image:url(../images/aplicacion.png) !important;
  background-repeat:no-repeat;
}
.BaseConocimiento {
  background-image:url(../images/aplicacion.png) !important;
  background-repeat:no-repeat;
}
.Renovacion {
  background-image:url(../images/aplicacion.png) !important;
  background-repeat:no-repeat;
}
/*Logos de los modulos terminado*/

/*Progress Bar*/
.x-progress-bar-red 
{
	background:#FF0000 url(../images/progress-bg-red.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #de7d6a;
	border-top:1px solid #ecb7ad;
	float:left;
	height:18px;
}

.x-progress-bar-orange 
{
	background:#9CBFEE url(../images/progress-bg-orange.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #deab7e;
	border-top:1px solid #d7b290;
	float:left;
	height:18px;
}

.x-progress-bar-green 
{
	background:#00FF00 url(../images/progress-bg-green.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #5bd976;
	border-top:1px solid #79e18f;
	float:left;
	height:18px;
}
/*Fin Progress Bar*/


.oper_link {
	text-decoration: none;
	font-family: Arial;
	font-size: small;	
}

.oper_div {
	margin: 6px 6px 6px 6px ;
	border: solid 1px #8c8c8c;
	text-align: center;
	background: url(extjs/resources/images/silverCherry/tabs_tab-strip-bg.gif);
}

.usu-nuevo{
  background-image: url(../images/add.png) !important;
/*   background-repeat:no-repeat; */
}

.usu-del{  
  background-image: url(../images/error.gif) !important;
/*   background-repeat:no-repeat; */
}

.oper_view_schedule{  
  background-image: url(../images/iconos/application_view_tile.png) !important;
/*   background-repeat:no-repeat; */
}

.oper_update_schedule{  
  background-image: url(../images/iconos/arrow_refresh.png) !important;
/*   background-repeat:no-repeat; */
}

.oper_next{  
  background-image: url(../images/iconos/arrow_right.png) !important;
  
/*   background-repeat:no-repeat; */
}

hr {
	width: 90%;
	height: 0,1px;
	border: solid 0,2px;
}